<!DOCTYPE html>
<html lang="en">
<head>
    <title>ČSFD Word Cloud</title>
    <script src="{{url_for('static', filename='d3-wordcloud/lib/d3/d3.js')}}"></script>
    <script src="{{url_for('static', filename='d3-wordcloud/lib/d3/d3.layout.cloud.js')}}"></script>
    <script src="{{url_for('static', filename='d3-wordcloud/d3.wordcloud.js')}}"></script>
</head>
<body>
    <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>

    <form role="form" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="id" placeholder="User ID" required>
            </div>
            <button type="submit" class="btn btn-default">Vygenerovať grafické štatistiky</button>
    </form>
    
    {% if summary is defined %}
    
    <div id='wordcloud-genres'></div>
    <div id='wordcloud-directors'></div>
    <script>
      d3.wordcloud()
        .size([800, 400])
        .selector('#wordcloud-genres')
        .words([
        {% for genre in summary.getTopGenres() %}
          {text: "{{ genre[0] }}", size: {{ genre[1] }}},
        {% endfor %}
        ])
        .start();
      d3.wordcloud()
        .size([800, 400])
        .selector('#wordcloud-directors')
        .words([
        {% for director in summary.getTopDirectors() %}
          {text: "{{ director[0] }}", size: {{ director[1] }}},
        {% endfor %}
        ])
        .start();
    </script>
    
    {% else %}
    
    <p>Skopírujte ID používateľa do formuláru. ID používateľa má tvar "123456-abcdef" (na obrázku zvýraznené žltou farbou).</p>
    <img src="{{url_for('static', filename='user_id.png')}}" />
    
    {% endif %}
    
</body>
</html>
